.title {
    color: white;
    float: right;
    margin-right: 43.5%;
    margin-top: -0.5%;
}

.cover {
    float: left;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.summary {
    margin-right: 7%;
    margin-left: 34%;
    margin-top: 5%;
}

.collapsible {
  background-color: rgb(13, 31, 65);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 60%;
  text-align: center;
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: 1%;
}

.active, .collapsible:hover {
  background-color: rgb(97, 174, 219);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  color: white;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  width: 57.65%;
  margin-left: 33.55%;
  transition: max-height 0.2s ease-out;
  background-color: #252525;
}