.title {
    color: white;
    float: right;
    margin-right: 390px;
    margin-top: -15px;
}

.cover {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}

.summary {
    margin-right: 100px;
    margin-left: 490px;
    margin-top: 50px;
}