.header {
  padding: 30px; /* some padding */
  text-align: center; /* center the text */
  background: #224cbd; /* dark blue background */
  color: rgb(238, 149, 15); /* orange text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: rgb(238, 149, 15); /* background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* background color */
  color: rgb(154, 136, 233); /* text color */
}

.body h1{
  color: white;
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 90px;
  margin: 10px;
  font-family: Arial;
}

.listback{
  padding: 210px; /* some padding */
 text-align: center; /* center the text */
 background: #224cbd;
}
